.left-menu-a_wr {
  float: left;
  width: 160px; }
  .left-menu-a_wr .title_menu {
    font-size: 19px;
    margin-bottom: 17px;
    background: #f0f0f0;
    padding: 2px 5px; }
    .left-menu-a_wr .title_menu .pict {
      background: url("images/menu.png") no-repeat center;
      width: 60px;
      height: 60px;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      margin-right: 17px; }
  .left-menu-a_wr .left-menu-a li {
    background: none;
    color: #000;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    text-transform: initial;
    margin-bottom: 5px; }
    .left-menu-a_wr .left-menu-a li:hover {
      background: none;
      box-shadow: none; }
    .left-menu-a_wr .left-menu-a li a {
      color: #000;
      display: block;
      padding: 0px 0px 0px 0px; }
      .left-menu-a_wr .left-menu-a li a:hover {
        background: none;
        box-shadow: none;
        text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
