div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.gfilter .left {
	width: 466px;
	float: initial!important;
	margin: 0px auto;
}

.gfilter li a{
	color: #FFF;
}
