.gfilter{
	width:100%;
	float:left;
	margin: -25px 0px;
	overflow:hidden;
}
.gfilter .left{
	width:466px;
	float:left;
}
.gfilter .right{
	width:466px;
	float:right;
}
.gfilter .title{
	width:450px;
	height:61px;
	background:url('images/fill-title.png') no-repeat;
	font-weight:bold;
	color:#474747;
	padding: 20px 0px 0px 56px;
}
.gfilter li{
	background:url('images/fillsmall.png') no-repeat;
	color:#FFF;
	font-family: 'MyriadPro';
	width:320px;
	height:32px;
	font-size:19px;
	padding:10px 0px 0px 15px;
	margin:0px 0px 10px 50px;
	cursor:pointer;	
	text-transform:uppercase;
}
.gfilter li.selected{
	border-radius:5px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(221, 50, 50, 0.95);
	-moz-box-shadow:    0px 0px 8px 0px rgba(221, 50, 50, 0.95);
	box-shadow:         0px 0px 8px 0px rgba(221, 50, 50, 0.95);
}
.gfilter li.big{
	background:url('images/fillbig.png') no-repeat;
	padding-bottom:25px;
}
.gfilter input[type='submit']{
	width:181px;
	height:52px;
	background:url('images/fillsubmit.png') no-repeat;
	cursor:pointer;
	border:none;
	margin:40px 0px 10px 50px;
}
.gfilter input[type='checkbox']{
	display:none;
	float:left;
	margin:5px;
}