top-menu,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:130%;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
body{
	font-family:"Tahoma";
}
a{
	color:#000;
	text-decoration:none;
}
.content{
	width:100%;
	float:left;
	margin:50px 0px;
}
.head-back{
	width:100%;
	height:175px;
	background:url('images/topback.png') 100% 0% repeat-x;
	position:absolute;
	top:0px;
	left:0px;
}
.head-face{
	width:992px;
	height:180px;
	background:url('images/topface.png') no-repeat;
	margin:0px auto;
	position:relative;
}
.head-face .indexlink{
	display:block;
	width:320px;
	height:145px;
	margin:15px;
	float:left;
}
.search{
	position:relative;
	float:right;
	margin:30px 30px 0px 0px;
}
.search input[type='text']{
	height:26px;
	width:326px;
	padding:2px;
	border:1px solid #c5c5c5;
	background: #c5c5c5; /* Old browsers */
	background: -moz-linear-gradient(top,  #c5c5c5 0%, #ffffff 19%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c5c5), color-stop(19%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c5c5c5 0%,#ffffff 19%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c5c5c5 0%,#ffffff 19%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c5c5c5 0%,#ffffff 19%); /* IE10+ */
	background: linear-gradient(to bottom,  #c5c5c5 0%,#ffffff 19%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	font-size:15px;
}
.search input[type='submit']{
	background:url('images/search-button.png') no-repeat;
	width:63px;
	height:29px;
	border:none;
	cursor:pointer;
	top:2px;
	right:1px;
	position:absolute;
}
a.prinv{
	background:url('images/printvers.png') 0% 0% no-repeat;
	width:348px;
	height:31px;
	display:block;
	float:right;
	margin:25px 15px 0px 0px;
}
@font-face {
    font-family: MyriadPro; /* имя шрифта для CSS правил */
    src: local("MyriadPro"), /* проверяем наличие шрифта в ОС пользователя */
         url('MyriadPro.otf'); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
.cblock{
	margin:170px auto 0px auto;
	clear:both;
	width:959px;
	overflow:hidden;
}
.top-menu{
	font-family: 'MyriadPro';
	width:100%;
	text-align:center;
	margin:10px 0px;
	font-size:24px;
	position:relative;
	float:left;
}
.top-menu .menuw{
	text-transform:uppercase;
}
.top-menu ul li{
	margin:0px 15px;
	float:left;
	padding:8px 20px;
	border-radius:5px;
}
.top-menu ul li:hover,.top-menu ul li.selected{
	background: #007ae5; /* Old browsers */
	background: -moz-linear-gradient(top,  #007ae5 0%, #0850a4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007ae5), color-stop(100%,#0850a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #007ae5 0%,#0850a4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #007ae5 0%,#0850a4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #007ae5 0%,#0850a4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #007ae5 0%,#0850a4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ae5', endColorstr='#0850a4',GradientType=0 ); /* IE6-9 */
}
.top-menu ul li:hover a,.top-menu ul li.selected a{
	color:#FFF;
}
.top-menu ul {
	margin-left:100px;
}
#slides {
	position:relative;
	margin: 0px 0px;
	float:left;
}
#slides .slidesContainer {
	background:#fff;
	display:block;
}
/*
	Pagination
*/
.slidesPagination {
	position:absolute;
	bottom:15px;
	right:25px;
	z-index:200;
}
.slidesPagination li {
	float:left;
	margin:0 3px;
	list-style:none;
}
.slidesPagination li a {
	display:block;
	width:14px;
	height:0;
	height:14px;
	background:#878787;
	overflow:hidden;
	font-size:0;
	border-radius:10px;
}
.slidesPagination li.slidesCurrent a {
	background:#b3b3b3;
	padding:3px;
	border-radius:13px;
}
a.slidesNavigation{
	display:none;
}
.controls {
	display:block;
	margin-top:12px;
	float:left;
	color:#333;
	font:bold 10px/1.33 sans-serif;
	margin-right:10px;
}
.newslist{
	width:100%;
	float:left;
	overflow:hidden;
	margin:15px 0px;
	font-family:"Arial";
}
.newslist .title{
	width:100%;
	float:left;
	font-weight:bold;
	font-size:19px;
}
.newslist .list{
	width:100%;
	float:left;
	margin-top:5px;
}
.newslist .item{
	float:left;
	margin-right:15px;
	width:305px;
	height:160px;
	overflow:hidden;
	border-radius:5px;
	border:1px solid #dcdcdc;
}
.newslist .item:last-child{
	margin-right:0px;
}
.newslist .item .image{
	padding:20px 15px;
	width:83px;
	height:79px;
	overflow:hidden;
	float:left;
}
.newslist .item  .text{
	float:right;
	font-size:14px;
	width:190px;
	padding:10px 2px 5px 0px;
}
.newslist .item  .text a{
	display:block;
	margin-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
	font-style:italic;
}
.footer{
	width:100%;
	float:left;
	margin:25px 0px 5px 0px;
}
.footer ul{
	font-family: 'MyriadPro';
	font-size:18px;
}
.footer li{
	float:left;
	margin-right:10px;
}
.footer li a{
	text-decoration:underline;
	color:#505050;
}
.footer li a:hover{text-decoration:none}
.footer .copyright{font-size:11pt;float:right;}
.catalogmenu{
	width:100%;
	padding-top:10px;
	float:left;
	overflow:hidden;
	background:url('images/catmenucurs.png') 43% 0% no-repeat;
}
.catalogmenu ul{
	width:100%;
	float:left;
	height:62px;
	background:url('images/catmenu.png') repeat-x;
	margin-bottom:10px;
}
.catalogmenu ul li{
	font-family: 'MyriadPro';
	font-size:17px;
	float:left;
	padding:22px 12px;
}
.catalogmenu ul li:last-child{
	margin-right:0px;
}
.catalogmenu a{color:#505050;}